<h1>Find Seeds</h1>

<div class="search_bar_container">
  <div class="search_text">
    Find by seed name:
  </div>
  <div>
    <%= form_tag seeds_path, :method => :get do %>
        <%= text_field_tag :search, params[:search], :placeholder => "E.g., Tomato, solanum lycopersicum", :class => "form-control search_box seeds", :autofocus => true %>
        <%= submit_tag "Search", :class => "btn btn-success search_button", :name => nil %>
    <% end %>
  </div>
</div>

<div class="seed_container">

  <% @seeds.each do |seed| %>
    <%= link_to seed_path(seed) do %>
      <div class="seedpacket">
        <% if seed.harvest_photo_file_name == "Tomato2.jpg" %>
          <img src="<%= asset_path('Tomato2.jpg') %>" class='cropped_photo' >
        <% else %>
          <%= image_tag seed.harvest_photo.url(:cropped), :class => 'cropped_photo' %>
        <% end %>
        <hr>
        <div class="seed_bottom">
          <div class="common_name"><%= seed.common_name %></div>
          <div class="scientific_name"><%= seed.scientific_name %></div>
          <div class="descrip"><%= seed.description %></div>
        </div>
      </div>
    <% end %>
  <% end %>

</div>

<div class="link_home">
  <%= link_to 'Home', landings_path %>
</div>